
<div class="tab-content">
    <div id="search" class="tab-pane fade in active">
        {% include 'AdminBundle:Default:index/tabs/search/index.html.twig' %}
    </div>

    <div id="import" class="tab-pane fade">
        {% include 'AdminBundle:Default:index/tabs/import/index.html.twig' %}
    </div>
</div>
